#map {
  width: 100%;
  height: 700px;
}

.leaflet-control-locate .leaflet-bar-part {
  text-align: center;
  line-height: 26px;
}

.map-apps {
  height: 30px;
}

.map-app-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #DDDDDD;
  text-align: center;
  vertical-align: middle;
}

.map-app-icon {
  position:absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}
